*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monaco;
  /* font-size: larger; */
  /* font-weight: 800; */
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #F3F2EF;

}
/* header starts */
header{
  height: 57px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

header .navbar{
  height: 90%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  
 
}
header .navbar .leftIcons{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  
}


header .navbar .leftIcons div i{
  margin-left: 10px;
  height: 35px;
  width: 35px;
  background-color:  #1666C2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size:2rem;
  border-radius: 5px;
  
}

.navbar .leftIcons div{
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  
  
}

.navbar .leftIcons div form{
  height: 80% ;
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  position: absolute;
  margin-left: 0;
  
  /* background-color: #000000; */
  
  
  /* background-color: blueviolet; */
 
}


.navbar .leftIcons div form input {
  height: 80%;
  width: 95%;
  border-radius: 5px;
  
 font-size: medium;
 background-color: #EEF3F8;
 outline: none;
 


}


.navbar .rightIcons {
  
  height: 100%;
  width: 58%;
  /* background-color: red; */
  margin-left: auto;
  display: grid;
  grid-template-columns: 0.5fr 0.7fr 0.5fr 0.5fr  0.5fr 0.5fr 0.5fr 0.9fr;
  grid-template-rows: 100%;
  box-sizing: border-box;
 
 

}



.navbar .rightIcons  i{
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;

}

.navbar .rightIcons div:hover{

  color: #191919;             
}


.navbar .rightIcons div{

  margin-top: 5px;
  font-size: 11.25px;
  text-align: center;
  margin-right: 20px;
  color: rgb(95, 94, 94);

  
}


/* 


/* header ends  */


/* main starts */

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 80px;
  overflow: auto;
  /* background-color: blue; */   
         

}

/* leftsidebar starts */

main .leftsidebar{

  height: 100%;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  /* margin-left: 40%; */
 /* border-right: 10px solid black; */
  
  /* background-color: brown;          */
  margin-right: 12px;
}

main .leftsidebar .firstSection{
  height: 360px;
  width: 58%;
  margin-left: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
}

main .leftsidebar .secondSection{
  /* height: 30%; */
  height: 280px;
  width: 58%;
  margin-left: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10px;
  position: sticky;
  top: 0;          
}

.firstSection .imgs{
width: 100%;
height: 28%;
}

.name{
width: 100%;
height: 20%;
/* background-color: #7193c9; */


}

.name .mainName{
height: 40%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
/* background-color: red; */

}
.name .description{
height: 60%;
width: 100%;
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
font-size: 11px;
padding-left: 10px;
}


.name .description .dsa{
display: flex;
justify-content: center;
}
.name .description .mern{
text-align: center;
}

.who{
height: 9%;
width: 100%;
/* background-color: red; */
font-size: 12px;
display: flex;
align-items: center;
padding-left: 10px;
color: #1666C2;
}

.roi{
width: 100%;
height: 25%;
color: gray;
font-size: 12px;
padding: 10px;
}

.book{
padding-left: 10px;

}
.book i{
margin-right: 10px;
}



main .leftsidebar .secondSection .recent{
height: 30%;
width: 100%;
/* background-color: red; */


}
main .leftsidebar .secondSection .recent div{
height: 30%;
width: 100%;
display: flex;
align-items: center;
font-size: 12px;
margin-left: 10px;



}

main .leftsidebar .secondSection .group{
height: 30%;
width: 100%;
/* background-color: rgb(61, 49, 49); */

}

main .leftsidebar .secondSection .group *{
height: 33.3%;
width: 100%;
padding-left: 10px;
font-size: 12px;
display: flex;
/* color: #1666C2; */


}

.geeks{
margin-right: 75px;
}

main .leftsidebar .secondSection .eventss{
height: 12%;
width: 100%;
/* background-color: #7193c9; */
padding-left: 9px;
display: flex;
align-items: center;
font-size: 12px;
color: #1666C2;

}
.secondSection .eventss i{
margin-left: 120px;


}
main .leftsidebar .secondSection .hastags{
height: 12%;
width: 100%;
color: #1666C2;
padding-left: 9px;
display: flex;
align-items: center;
font-size: 12px;
/* background-color: rebeccapurple; */


}
main .leftsidebar .secondSection .Discover{
height: 16%;
width: 100%;
/* background-color: aquamarine; */
font-size: 13px;
display: flex;
justify-content: center;
align-items: center;

}


/* leftsidebar ends */

/* maincontent starts */

main .maincontent{
  width: 100%;
  height: 140%;
  overflow: auto;
  /* background-color: #121212; */
  /* background-color: #252522; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  


}

main .maincontent .center{
  height: 100%;
  width: 100%;
  /* background-color: red; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 10px;


}

main .maincontent .center .post{
  margin-bottom: 10px;
  border-radius: 10px;

}

main .maincontent .center .hiring{
margin-bottom: 10px;
border-radius: 10px;

}

main .maincontent .center .postEditor{
margin-bottom: 10px;
border-radius: 10px;

}

main .maincontent .center .hiring{
  width: 100%;
  height: 320px;
  background-color: #FFFFFF;
  
}
main .maincontent .center .hiring .img img{
margin-top: 50px ;
margin-left: 90px;
  
}
main .maincontent .center .hiring .text1{
  width: 100%;
  height: 30px;
  font-size: small;
  /* background-color: #194080; */
  text-align: center;
}

main .maincontent .center .hiring .text2{
  width: 100%;
  height: 30px;
  /* background-color: #194080; */
  font-size: small;
  text-align: center;
}


.buttons{
text-align: center;
}

.button{
border: none;
color: black;
padding: 12px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 10px;

}



.button:hover{
  background-color: #7193c9;

}


main .maincontent .center .postEditor{
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  
  

}
main .maincontent .center .postEditor .postProfile{
height: 50%;
width: 100%;
display: flex;
}
main .maincontent .center .postEditor .postProfile .profiledp{
width: 15%;
height: 50px;
font-size: 2.5rem;
display: flex;

justify-content: center;
padding-top: 5px;
/* align-items: center; */
color: rgb(90, 90, 92);
/* background-color: red; */

}
main .maincontent .center .postEditor .postProfile .profiledp i:hover{
color: black;


}

main .maincontent .center .postEditor .postProfile .innerButton{
width: 100%;
height: 100%;
/* background-color: rgb(161, 159, 159); */
}

.innerButton form{
/* background-color: #252522; */
/* border: #194080; */
border: 1px solid rgb(90, 90, 92);
height: 80%;
width: 95%;
border-radius: 5px;
border-radius: 27px;
margin-left: 1%;
margin-top: 5px;

}

form input{
/* background-color: red; */
text-align: start;
all: unset;
font: 14px system-ui;
/* color: gray; */
height: 100%;
width: 100%;
margin-left: 15%;

}

.items{
display: flex;

height: 40%;
width: 100%;

/* background-color: rgb(238, 145, 32); */


}

.items .item {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 25%;
font-size: 15px;

/* height: 30px; */
/* background-color: red; */


}
.items .item i{
margin-right: 10px;
color: rgb(90, 90, 92);
}
.items .item i:hover{
color: #191919;
}

.items .item .texts{
font-size: medium;
}

main .maincontent .center .post{
height: 550px;
background-color: #FFFFFF;
}

.post .profile{
width: 100%;
height: 15%;
/* background-color: rgb(216, 207, 207); */
}

.topProfile{
width: 100%;
height: 100%;
display: flex;
/* background-color: rgb(231, 230, 230); */


}

.topProfile .mainProfile{
width: 15%;
height: 100%;
/* background-color: red; */
font-size: 50px;
display: flex;
align-items: center;
justify-content: center;


}
/* .topProfile .mainProfile i{


} */

.topProfile .restOfTheProfile{
display: flex;
width: 85%;
height: 100%;
/* background-color: #1666C2; */
font-size: 12px;
/* padding-top: 18px; */
align-items: center;



}

.post .caption{
height: 7%;
width: 100%;
/* background-color: red; */
display: flex;
align-items: center;
}

.caption .textCaption{
width: 100%;
display: flex;
justify-content: center;
font-size: 13px;
}

.post .innerImg{
width: 100%;
height: 60%;
/* background-color: rebeccapurple; */
}

.post .innerImg img{
width: 100%;
height: 100%;
}

.post .dynamic-icons{
width: 100%;
height: 9%;
/* background-color: #1666C2; */
display: flex;




}

.post .dynamic-icons .xitems{
height: 100%;
width: 22%;
/* background-color: #1666C2; */
margin-right: 2%;
margin-left: 4%;
display: flex;
justify-content: center;
align-items: center;



}

.post .dynamic-icons .xitems i{
font-size: 25px;
margin-right: 10px;
margin-bottom: 2px;
}

.post .commentDown{
width: 100%;
height: 9%;
/* background-color: #d7dbdf; */
display: flex;


}

.post .commentDown .iicon{
height: 100%;
width: 10%;
display: flex;
align-items: center;
justify-content: center;
font-size: 35px;

}

.post .commentDown .textArea{
width: 80%;
height: 100%;
/* background-color: red; */
display: flex;
align-items: center;
}

.post .commentDown Textarea{
outline: none;
border: none;
width: 98%;
height: 80% ;
background-color: #EEF3F8;
border-radius: 10px;
}

.commentDown .rightestIcon {
width: 10%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 20px;
}

/* main content ends  */

/* rightbar starts */

/* main .rightsidebar{

  
} */
main .rightsidebar .right{
  height: 140%;
  width: 65%;
  /* background-color: aquamarine; */
  margin-left:10px;
  overflow: auto;
  
}

main .rightsidebar .right .rightContent{
  height: 300px;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  
}

.rightContent .rightNav{
height: 100%;
width: 100%;
/* background-color: red; */
}

.rightNav .linkedInNews{
height: 14.28%;
width: 100%;
display: flex;
align-items: center;
margin-left: 10px;
/* background-color: #1666C2; */

}
.rightNav .linkedInNews i{
margin-left: 150px;

/* background-color: #1666C2; */

}

.rightNav .news{
height: 14.28%;
width: 100%;
/* background-color: rgb(43, 39, 39); */

}

.rightNav .showMore{
height: 14.28%;
width: 100%;
display: flex;
align-items: center;
/* background-color: #FFFFFF; */

}

.rightNav .news *{
font-size: 12.5px;
margin-left: 30px;

}

.rightNav .news .todoType{
/* font-style: italic; */
font-size: 0.26cm;

}



.rightNav .showMore *{
margin-left: 10px;
}




/* rightbar ends  */

/* main ends  */


.send{
height: 50px;
width: 300px;
background-color: #FFFFFF;
position: fixed;
bottom: 0;
right: 0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: 0.5px 0.5px rgb(43, 39, 39), -0.2em 0 .4em rgb(56, 56, 53);


}

.send .innerText .mainMessage{
height: 40px;
width: 170px;
/* background-color: antiquewhite; */
display: flex;
justify-content: center;
align-items: center;



}

.icons{
height: 40px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
right: 0;
top: 0;
/* background-color: antiquewhite; */


}

.icons div{
margin-right: 20px;
}